#headerDiv {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  background-color: black;
}

#tabArea {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

#contentArea {
  margin-top: 5em;
}

#content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  place-items: center;
}

#contentImg {
  width: 150px;
  height: 150px;
}

#tabArea div {
  width: 100%;
  text-align: center;
}

#tabArea div:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
